<footer id="footer" class="footer">
    <div class="copyright">
        <span>© <%= config.author %> | Powered by <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a></span>
    </div>
</footer>

<!-- Medium Zoom -->
<script src="https://cdn.jsdelivr.net/npm/medium-zoom/dist/medium-zoom.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    mediumZoom('img', {
      margin: 24,
      background: '#000',
    });
  });
</script>